{% load static %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: #9b59b6; text-align: center; justify-content: center; border: black; padding-top: 300px; border-radius: 12px">
<form action="" method="POST" style="background-color: orange; padding: 45px 90px; border-radius: 6px; ">
    {% csrf_token %}
    <h2>LOGIN</h2>
    <input type="text" name="username" placeholder="Username" style="border: none; border-radius: 10px; padding: 12px; width: 300px"><br><br>
    <input type="password" name="password" placeholder="Password" style="border: none; border-radius: 10px; padding:12px; width: 300px;  "><br><br>
    <button type="submit" style="padding: 12px; margin: 9px; width:120px; font-weight: bold ">Login</button>
    {% if error %}
    <p style="color: #c62828"><b>{{ error }}</b></p>
    {% endif %}
</form>
</body>
</html>